p {
  margin: 0;
  font-size: 16px;
  color: #333;
}

ul {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
  width: 100%;
  border-radius: 10px;
  border: 2px solid #555;
}

.is-hidden {
  visibility: hidden;
}

body {
  background-color: #333;
}

.gallery {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  padding-top: 10px;
  gap: 20px;
  flex-wrap: wrap;
  padding-left: 20px;
  padding-right: 20px;
  justify-content: space-between;
}

.photo-card {
  width: calc((100% - 60px) / 4);
  flex-wrap: wrap;
  margin-bottom: 20px;
  background-color: #f9f9f9;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.likes,
.views,
.comments,
.download {
  display: inline-block;
  margin-right: 10px;
  font-size: 14px;
  color: #555;
}

.info {
  text-align: center;
}

input {
  border-radius: 10px;
  border-color: transparent;
  height: 40px;
  font-size: 16px;
  padding: 10px;
}

input:hover,
input:focus {
  border-color: transparent;
}

.wrap {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
  justify-content: center;
}

.load-more {
  left: 50%;
  display: block;
  margin-right: auto;
  margin-left: auto;
  justify-content: center;
  align-items: center;
  margin-bottom: 25px;
  width: 130px;
  height: 40px;
  color: #fff;
  background-color: #000000;
  border-color: transparent;
  border-radius: 5px;
  box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, .5),
    7px 7px 20px 0px rgba(0, 0, 0, .1),
    4px 4px 5px 0px rgba(0, 0, 0, .1);
  transition: background-color 250ms linear;
}

.load-more:hover,
.load-more.focus {
  background-color: #797979;
  cursor: pointer;
}

.btn-form {
  margin-left: 15px;
  width: 130px;
  height: 40px;
  color: #fff;
  border-radius: 5px;
  padding: 10px 25px;
  font-family: 'Lato', sans-serif;
  font-weight: 500;
  background: transparent;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, .5),
    7px 7px 20px 0px rgba(0, 0, 0, .1),
    4px 4px 5px 0px rgba(0, 0, 0, .1);
  outline: none;
}

.btn-1 {
  background-color: #404040;
  background-image: linear-gradient(315deg, #ffffff 0%, #000000 74%);
  border: none;
  z-index: 1;
}

.btn-1:after {
  position: absolute;
  content: "";
  width: 100%;
  height: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  border-radius: 5px;
  background-color: #404040;
  background-image: linear-gradient(315deg, #ffffff 0%, #220d0d 74%);
  box-shadow:
    -7px -7px 20px 0px #fff9,
    -4px -4px 5px 0px #fff9,
    7px 7px 20px 0px #0002,
    4px 4px 5px 0px #0001;
  transition: all 0.3s ease;
}

.btn-1:hover {
  color: #fff;
}

.btn-1:hover:after {
  top: 0;
  height: 100%;
}

.btn-1:active {
  top: 2px;
}

.search-form {
  display: flex;
  background-color: #555;
  height: 50px;
  color: #ddd;
}